[data-theme="dark"] {
    background-color: #121212;
    color: rgba(238, 238, 238, 0.9);
}

[data-theme="dark"] #about-me .card, [data-theme="dark"] .blog-card-body, [data-theme="dark"] #projects .card, [data-theme="dark"] #gallery .card {
    background-color: rgb(33, 33, 33);
}

[data-theme="dark"] #projects .card {
    border: 1.5px solid #121212;
}

[data-theme="dark"] .card-text, [data-theme="dark"] .blog-card-body, [data-theme="dark"] .text-link, [data-theme="dark"] ul {
    color: rgba(238, 238, 238, 0.8);
}

[data-theme="dark"] #accordion .card .card-header {
    background-color: #434242c7;
    border: none;
}

[data-theme="dark"] #navbar-sections, [data-theme="dark"] .navbar-light .navbar-nav .nav-link {
    color: rgba(238, 238, 238, 0.8);
    border-color: rgba(0, 0, 0, 0.3);
    background-color: #333;
}

[data-theme="dark"] .form-control {
    border: rgb(56, 56, 56);
    background-color: rgb(56, 56, 56);
    color: rgba(238, 238, 238, 0.8);
}
