#content {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  text-align: justify;
  padding: 5px;
}

#profile-pic {
  width: 200px;
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 50%;
}

.centered-text {
  text-align: center
}

body {
  font-family: Helvetica;
  position: relative;
}

#buttons {
  text-align: center;
  padding: 10px;
}

.button {
  outline: none;
  transition-duration: 0.4s;
  background-color: #1b9ce5;
  border: none;
  color: white;
  border-radius: 3px;
  width: 120px;
}

.button:hover {
  background-color: #0074e1;
}

a {
  color: #0074e1;
}

a:hover {
  color: #1b9ce5;
}

.scrollspy {
  position: relative;
  height: 1000px;
  margin-top: .5rem;
  overflow: auto;
}

.card-deck {
  margin-right: 0px;
  margin-left: 0px;
}

.card {
  margin-top: 15px;
  margin-bottom: 15px !important;
}

#carousel-gallery {
  margin-left: 40px;
  margin-right: 40px;
}