#content {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 56px;
  margin-bottom: 30px;
}

.section {
  padding-top: 70px;
}

p {
  text-align: justify;
  padding: 5px;
}

#profile-pic {
  width: 200px;
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 50%;
}

.centered-text {
  text-align: center
}

body {
  font-family: 'Poppins', sans-serif;
  position: relative;
  height: 100%;
}

#buttons {
  text-align: center;
  padding: 10px;
}

.button {
  outline: none;
  transition-duration: 0.4s;
  background-color: #1b9ce5;
  border: none;
  color: white;
  border-radius: 3px;
  width: 120px;
}

.button:hover {
  background-color: #0074e1;
}

a {
  color: #0074e1;
}

a:hover {
  color: #1b9ce5;
}

.scrollspy {
  position: relative;
  height: 100%;
  margin-top: .5rem;
  overflow: auto;
}

.card-deck {
  margin-right: 0px;
  margin-left: 0px;
}

.card {
  margin-top: 15px;
  margin-bottom: 15px !important;
}

#carousel-gallery {
  margin-left: 40px;
  margin-right: 40px;
}

.list-group-item {
  width: 150px;
}

.card-footer, .card {
  border-color: transparent !important;
  border-radius: 0% !important;
}

.card {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

#dora-card {
  background-color: lightblue !important;
}

#au-card {
  background-color: #2980b9 !important;
  color: white;
}

#wacc-card {
  background-color: #2c3e50;
  color: white;
}

.navbar-light {
  background-color:#e3f2fd !important;
}

#gallery-text {
  padding-top: 40px;
}


@media only screen and (max-width: 600px) {
  #carousel-gallery {
    margin-left:0px;
    margin-right: 0px;
  }  
}